 <ul class="todo-list">
  <li [ngClass]="todo.completed? 'completed' : ''" >
    <div class="view">
      <!-- da dung ngMOdel la khong dung formControl nua, dung 1 trong 2 thoi, sai r -->
    <!-- <input class="toggle"  (click)="checked()" [ngModel]="check"  [formControl]="control" type="checkbox" /> -->
    <input class="toggle" (click)="complete.emit(todo)" type="checkbox" [checked]="todo.completed" />
    <label>
      <span class="description">{{todo.title}}</span>
    </label>
    <button class="icon icon-destroy" (click)="delete.emit(todo.id)"></button>
    </div>
  </li>
</ul>

