<div class="todoapp">
	<div class="header">
	  <h1>todos</h1>
	  <div></div>
	  <input
		class="new-todo"
		placeholder="What needs to be done?"
		autofocus
		#input (keydown.enter)="add(input)"
	  />
	</div>
	<div class="main">
		
		<app-todos  
		 [todos]="todos$ | async" 
		 (delete)="delete($event)" 
		 (complete)="complete($event)"
		 
		
		 >
		 
		</app-todos>
		<app-todos-filters 
		[todos]="todos$ | async" 
		(update)="changeFilter($event)"
		(delete)="delete($event)" 
		[filters]="filters"
		[active]="activeFilter$ | async"
		[count]="count"
		
		>
		</app-todos-filters>
	</div>
  </div>
